div {
    margin: 30px;
    font-size: 20px;
    height: 80px;
    border-radius: 10px;
    color: #625e00;
    font-family:'Times New Roman', Times, serif;
}
#header{ 
    background-color: #dcfffd;
    display:flex;
    justify-content: space-between;
}
#main{
    background-color: #dcfffd;
    height: 200px;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#img {
    width: 75px;
    height: 80px;
}
h2.logo{
    margin-left: 10px;
    text-transform:uppercase;
}
ul.nav{
    list-style: none;
}
.nav li { 
    display: inline; 
}
ul.nav a {
    display: inline-block;
    width: 5em;
    padding:10px;
    margin: 20px;
    background-color: #f4f4f4;
    text-decoration: none;
    color: #333;
    border: 1px dashed #333;
    text-align: center;
    border-radius: 10px;
}
a.button {
    display: inline-block;
    width: 5em;
    height: 2em;
    line-height: 2em;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    user-select: none;
    color: rgb(0,0,0);
    outline: none;
    border: 1px solid rgba(0,0,0,.4);
    border-top-color: rgba(0,0,0,.3);
    border-radius: 2px;
    background: linear-gradient(rgb(255,255,255), rgb(240,240,240));
    box-shadow:
     0 0 3px rgba(0,0,0,0) inset,
     0 1px 1px 1px rgba(255,255,255,.2),
     0 -1px 1px 1px rgba(0,0,0,0);
    transition: .2s ease-in-out;
  }
  a.button:hover:not(:active) {
    box-shadow:
     0 0 3px rgba(0,0,0,0) inset,
     0 1px 1px 1px rgba(0,255,255,.5),
     0 -1px 1px 1px rgba(0,255,255,.5);
  }
  a.button:active {
    background: linear-gradient(rgb(250,250,250), rgb(235,235,235));
    box-shadow:
     0 0 3px rgba(0,0,0,.5) inset,
     0 1px 1px 1px rgba(255,255,255,.4),
     0 -1px 1px 1px rgba(0,0,0,.1);
  }