div {
    font-size: 20px;
    height: 80px;
    /* border: 1px solid rgba(0,0,0,.4); */
    border-radius: 10px;
    color: #625e00;
    font-family:'Times New Roman', Times, serif;
}
#header{
    margin: 30px; 
    background-color: #dcfffd;
    display:flex;
    justify-content: space-between;
}
#main{
    margin: 30px; 
    background-color: #dcfffd;
    height: auto;
    width: auto;
    display:flex;
    justify-content: center;
}
#img {
    width: 75px;
    height: 80px;
}
h2.logo{
    margin-left: 10px;
    text-transform:uppercase;
}
header.main{
    margin: 20px;
}
div.input_block{
    display: flex;
    flex-direction: column;
    margin: 20px;
}
label{
    margin-bottom: 10px;
}
input{
    width: 100%;
    height: 40px;
    background: #FFF;
    border: 1px solid #DBDBDB;
    padding: 0 14px;
    box-sizing: border-box;
    font-size: 14px;
    font-family: "-apple-system",BlinkMacSystemFont,Arial,sans-serif;
    color: #333;
}
button{
    display: inline-block;
    width: 90px;
    height: 40px;
    line-height: 2em;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    user-select: none;
    color: rgb(0,0,0);
    outline: none;
    border: 1px dashed #333;
    border-top-color: rgba(0,0,0,.3);
    border-radius: 5px;
    background: linear-gradient(rgb(255,255,255), rgb(240,240,240));
    box-shadow:
        0 0 3px rgba(0,0,0,0) inset,
        0 1px 1px 1px rgba(255,255,255,.2),
        0 -1px 1px 1px rgba(0,0,0,0);
    transition: .2s ease-in-out;
}
button:hover:not(:active){
    box-shadow:
        0 0 3px rgba(0,0,0,0) inset,
        0 1px 1px 1px rgba(0,255,255,.5),
        0 -1px 1px 1px rgba(0,255,255,.5);
}
button:active{
    background: linear-gradient(rgb(250,250,250), rgb(235,235,235));
    box-shadow:
        0 0 3px rgba(0,0,0,.5) inset,
        0 1px 1px 1px rgba(255,255,255,.4),
        0 -1px 1px 1px rgba(0,0,0,.1);
}

#before_email{
    vertical-align: middle;
}
#before_email[required] + label {
    position: relative;
}
#before_email[required] + label:before {
    content: "✉";
    position: absolute;
    left: -1.2em;
    font-size: 23px;
    color: rgb(238, 238, 238);
}
#before_email[required]:hover + label:before, #before_email[required]:focus + label:before {
    color: rgb(220, 200, 200);
}
#before_email[required]:not(:focus):not(:hover):valid {
    opacity: .4;
}
#before_email[required]:not(:focus):valid + label:before {
    content: "✉";
    color: green;
}

#before_login{
    vertical-align: middle;
}
#before_login[required] + label {
    position: relative;
}
#before_login[required] + label:before {
    content: "〠";
    position: absolute;
    left: -1.2em;
    font-size: 23px;
    color: rgb(238, 238, 238);
}
#before_login[required]:hover + label:before, #before_login[required]:focus + label:before {
    color: rgb(220, 200, 200);
}
#before_login[required]:not(:focus):not(:hover):valid {
    opacity: .4;
}
#before_login[required]:not(:focus):valid + label:before {
    content: "〠";
    color: green;
}

#before_password{
    vertical-align: middle;
}
#before_password[required] + label {
    position: relative;
}
#before_password[required] + label:before {
    content: "⎆";
    position: absolute;
    left: -1.2em;
    font-size: 26px;
    color: rgb(238, 238, 238);
}
#before_password[required]:hover + label:before, #before_password[required]:focus + label:before {
    color: rgb(220, 200, 200);
}
#before_password[required]:not(:focus):not(:hover):valid {
    opacity: .4;
}
#before_password[required]:not(:focus):valid + label:before {
    content: "⎆";
    color: green;
}

#before_phone{
    vertical-align: middle;
}
#before_phone[required] + label {
    position: relative;
}
#before_phone[required] + label:before {
    content: "☏";
    position: absolute;
    left: -1.2em;
    font-size: 23px;
    color: rgb(238, 238, 238);
}
#before_phone[required]:hover + label:before, #before_phone[required]:focus + label:before {
    color: rgb(220, 200, 200);
}
#before_phone[required]:not(:focus):not(:hover):valid {
    opacity: .4;
}
#before_phone[required]:not(:focus):valid + label:before {
    content: "☏";
    color: green;
}

#before_country{
    vertical-align: middle;
}
#before_country + label {
    position: relative;
}
#before_country + label:before {
    content: "☮";
    position: absolute;
    left: -1.2em;
    font-size: 23px;
    color: rgb(238, 238, 238);
}
#before_country:hover + label:before, #before_country:focus + label:before {
    color: rgb(220, 200, 200);
}
#before_country:not(:focus):not(:hover) {
    opacity: .4;
}

div.button{
    display: flex;
    flex-direction: row-reverse;
    margin-right: 20px;
}
